@import './Phone.css';
.empty_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:65vh;
}
.empty_cont h1{
    font-size: 60px;
}
.cart_home{
    background-color: green;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}
.cart_home:hover{
    transition: all 1s;
    transform: scale(1.1);
}
#ordr_empty{
    height: 40vh;
   
}
#ordr_empty h1{
    width: 100%;
    text-align: center;
    color: gray;
    font-size: calc((3.4vw + 3.4vh)/2);;
}
